html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(224, 214, 214);
    font-family: 'Krub', sans-serif;
}

.h2 {
    font-weight: normal;
    font-size: 28px;
}

.layout-header {
    max-width: 1400px;
    min-height: 600px;
    margin: auto;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #ebd2e4;
    justify-content: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 75%;
    position: absolute;
    margin-top: 25px;
}

.nav__logo-inner {
    text-decoration: none;
    font-size: 19px;
    color: #000;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #FFFFFF;
}

.nav__menu {
    text-transform: uppercase;
}

.nav__item {
    text-decoration: none;
    color: rgb(126, 124, 124);
    font-size: 11px;
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}

.nav__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    background-color: rgb(126, 124, 124);;
    left: 0;
    border-radius: 1px;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: center;
    transition: .25s linear;
  }

  .nav__item:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

.nav__item_active {
    color: #e29a5a;
}

.nav__item_active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    background-color: #e29a5a;
    left: 0;
    border-radius: 1px;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: center;
    transition: .25s linear;
  }

.header-image {
    display: flex;
    flex-basis: 50%;
    background-image: url(img/home-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-content {
    flex-basis: 50%;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box
}

.content__title {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(82, 78, 78);
}

.content__title_accent {
    font-weight: bold;
}

.content__text {
    font-size: 11px;
    color: rgb(126, 124, 124);
    line-height: 22px;
}

.content__text_upper {
    text-transform: uppercase;
    font-weight: medium;
}

.button {
    text-decoration: none;
}

.button__inner {
    display: flex;
    text-transform: uppercase;
    color: rgb(41, 39, 39);;
    width: 115px;
    border: 2px solid rgb(41, 39, 39);
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: .25s linear;
}

.button__inner:hover {
    background-color: #e29a5a;
    color: #fff;
    border: 2px solid  rgb(73, 72, 72);
}

.layout__main {
    max-width: 1400px;
    margin: auto;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: row;
}

.section-donec {
    flex-basis: 50%;
}

.donec {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    justify-content: center;
}

.donec__title {
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(82, 78, 78);
}

.donec__text {
    font-size: 11px;
    color: rgb(126, 124, 124);
    margin-bottom: 0;
    line-height: 22px;
}

.donec__text_accent {
    color: #e29a5a;
    margin-bottom: 20px;
}

.section__skills-img {
    flex-basis: 25%;
    min-height: 292px;
}

.skills-img {
    display: flex;
    background-image: url(img/about-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section__skills {
    flex-basis: 25%;
}

.skills {
    display: flex;
    background-color: #e29a5a;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.skills__title {
    margin: 0;
}

.skills__stack {
    font-size: 11px;
    margin-bottom: 25px;
}

.progress {
    display: flex;
    flex-direction: column;
}

.progress__values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    color: rgb(27, 26, 26);
    font-weight: bold;
}

.progress__item {
    margin-bottom: 8px;
}

.progress__value {
    margin-bottom: 8px;
    color: #fff;
}

.progress__body {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

.progress__body::progress-bar {
    background-color: #fff;
}

.progress__body::-webkit-progress-bar {
    background-color: #fff;
}

.progress__body::-moz-progress-bar {
    background-color: #fff;
}

.progress__body::-webkit-progress-value {
    background-color: rgb(27, 26, 26);
}

.section__stack {
    min-height: 292px;
    flex-basis: 25%;
}

.stack {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgb(82, 78, 78);
    padding: 0 20px;
    background-color: #fff;
}

.stack_brown {
    background-color: #e29a5a; 
    color: #fff;
}

.stack_red {
    background-color: #e7643c; 
    color: #fff;
}

.stack_black {
    background-color: rgb(32, 32, 32); 
    color: #fff;
}

.stack__title {
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 10px;
}

.stack__p {
    font-size: 13px;
    line-height: 25px;
}

.section__experiences-img {
    display: flex;
    flex-basis: 50%;
    min-height: 292px;
    background-image: url(img/experience-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section__experiences {
    flex-basis: 50%;
}

.experiences {
    display: flex;
    justify-content: center;
    background-color: #e7643c;
    color: #fff;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
}

.experiences_theme_sun {
    background-color: #e29a5a;
}

.experiences__title {
    margin: 0;
    font-weight: normal;
}

.component__text-title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

.component__icon {
    margin-right: 20px;
}

.experiences__text {
    font-size: 12px;
}

.component {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.component__span {
    color: rgb(82, 78, 78);
    font-size: 13px;
    font-weight: bold;
}

.component__span_theme_sun {
    color: #556619;
}

.component__text {
    font-size: 12px;
}

.education-img {
    display: flex;
    flex-basis: 50%;
    min-height: 320px;
    background-image: url(img/education-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section__easy {
    min-height: 350px;
}

.easy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(img/quotes-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    box-shadow:0 0 0 175px rgba(0, 0, 0, 0.6) inset;
    color: rgb(226, 223, 223);
    padding: 0 20%;
    box-sizing: border-box;
}

.easy__title {
    font-size: 24px;
}

.easy__text {
    font-size: 10px;
    color: rgb(126, 124, 124);
    font-weight: bold;
}

.section__form-layout {
    flex-basis: 50%;
    min-height: 292px;
}

.form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e7643c;
    color: rgb(241, 238, 238);
    padding: 30px 30px 50px;
    box-sizing: border-box;
}

.form-layout__title {
    margin: 0;
}

.form-layout__text {
    font-size: 11px;
}

.form-layout__form {
    margin-top: 35px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input, .form__textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #e29a5a;
    color: rgb(241, 238, 238);
    margin-bottom: 20px;
    outline: none;
}

.form__input::placeholder, .form__textarea::placeholder {
    color: rgb(241, 238, 238);
}

.form__submit {
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(247, 247, 247);
    width: 230px;
    border-radius: 30px;
    padding: 12px 20px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: rgb(126, 124, 124);
    box-sizing: border-box;    
    transition: .25s linear;
}

.form__submit:hover {
    border: 2px solid rgb(32, 32, 32);
    background-color: #e29a5a;
    color: rgb(32, 32, 32);
}

.section__form-img {
    display: flex;
    flex-basis: 25%;
    background-image: url(img/contact-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section__contacts {
    flex-basis: 25%;
}

.contacts {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    color: rgb(126, 122, 122);
    padding: 20px 35px 0;
    box-sizing: border-box;
}

.contacts__title {
    font-size: 20px;
    color: rgb(226, 223, 223);
}

.contacts__text {
    font-size: 11px;
}

.contacts__icon {
    margin-right: 10px;
}

.contacts__phone {
    font-size: 11px;
}

.contacts__link {
    color: #e29a5a;
    font-size: 11px;
    text-decoration: none;
    position: relative;
}

.contacts__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    background-color: #e29a5a;
    left: 0;
    border-radius: 1px;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: center;
    transition: .25s linear;
}
.contacts__link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

.layout__footer {
    display: flex;
    max-width: 1400px;
    margin: auto;
    min-height: 292px;
    max-height: 500px;
}

.footer {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    color: rgb(187, 179, 179);
}

.footer__text {
    font-size: 14px;
    font-weight: bold;
}

.footer_link {
    color: #e29a5a;
    text-decoration: none;
    position: relative;
}

.footer_link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    background-color: #e29a5a;
    left: 0;
    border-radius: 1px;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: center;
    transition: .25s linear;
}

.footer_link:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

.footer_soc {
    color: rgb(187, 179, 179);
    margin: 0 20px;
    transition: .25s linear;
}

.footer_soc:hover {
    color: #e29a5a;
}

