html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(224, 214, 214);
    font-family: 'Krub', sans-serif;
}

h2 {
    font-weight: normal;
    font-size: 28px;
}

.header {
    width: 1170px;
    height: 100px;
    background-color: #ebd2e4;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
    margin: auto;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 75%;
    position: absolute;
    margin-top: 25px;
}

.nav__logo-a {
    text-decoration: none;
    font-size: 19px;
    color: #000;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #FFFFFF;
}

.nav__menu {
    text-transform: uppercase;
}

.nav__item {
    text-decoration: none;
    color: rgb(126, 124, 124);
    font-size: 11px;
    font-weight: bold;
    margin: 0 10px;
}

.nav__item_active {
    color: #e29a5a;
}

.header-image {
    display: flex;
    flex-basis: 50%;
    background-image: url(img/home-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-content {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
}

.header-content__h1 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(82, 78, 78);
}

.header-content__span {
    font-weight: bold;
}

.header-content__p {
    font-size: 11px;
    color: rgb(126, 124, 124);
    line-height: 22px;
}

.header-content__p_upper {
    text-transform: uppercase;
    font-weight: medium;
}

.header-conent__button {
    display: flex;
    text-transform: uppercase;
    color: rgb(41, 39, 39);;
    width: 115px;
    border: 2px solid rgb(41, 39, 39);
    border-radius: 30px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.main {
    display: flex;
    width: 1170px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: row;
}

.donec {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    background-color: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    justify-content: center;
}

.donec__h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(82, 78, 78);
}

.donec__p {
    font-size: 11px;
    color: rgb(126, 124, 124);
    margin-bottom: 0;
    line-height: 22px;
}

.donec__p_accent {
    color: #e29a5a;
    margin-bottom: 20px;
}

.main__img1 {
    display: flex;
    flex-basis: 25%;
    background-image: url(img/about-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 292px;
}

.skills {
    display: flex;
    flex-basis: 25%;
    background-color: #e29a5a;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.skills__h2 {
    margin: 0;
}

.skills__stack {
    font-size: 11px;
    margin-bottom: 25px;
}

.skills__progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

.skills__progress-wrap {
    display: flex;
    flex-direction: column;
}

.skills__progress-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    color: rgb(27, 26, 26);
    font-weight: bold;
}

.skills__progress-item {
    margin-bottom: 8px;
}

.skills__progress-value {
    margin-bottom: 8px;
    color: #fff;
}

.skills__progress::progress-bar {
    background-color: #fff;
}

.skills__progress::-webkit-progress-bar {
    background-color: #fff;
}

.skills__progress::-moz-progress-bar {
    background-color: #fff;
}

.skills__progress::-webkit-progress-value {
    background-color: rgb(27, 26, 26);
}

.stack-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 292px;
    color: rgb(82, 78, 78);
    flex-basis: 25%;
    padding: 0 20px;
    background-color: #fff;
}

.stack-block_brown {
    background-color: #e29a5a; 
    color: #fff;
}

.stack-block_red {
    background-color: #e7643c; 
    color: #fff;
}

.stack-block_black {
    background-color: rgb(32, 32, 32); 
    color: #fff;
}

.stack-block__h3 {
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 10px;
}

.stack-block__p {
    font-size: 13px;
    line-height: 25px;
}

.experiences-img {
    display: flex;
    flex-basis: 50%;
    min-height: 292px;
    background-image: url(img/experience-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.experiences {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    background-color: #e7643c;
    color: #fff;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
}

.experiences__h2 {
    margin: 0;
    font-weight: normal;
}

.experiences__h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.experiences__icon {
    margin-right: 20px;
}

.experiences__p {
    font-size: 12px;
}

.experiences__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.experiences__span {
    color: rgb(82, 78, 78);
    font-size: 13px;
    font-weight: bold;
}

.education-img {
    display: flex;
    flex-basis: 50%;
    background-image: url(img/education-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 320px;
}

.education {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    background-color: #e29a5a;
    color: #fff;
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;
}

.education__h2 {
    margin: 0;
    font-weight: normal;
}

.education__h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

.education__icon {
    margin-right: 20px;
}

.education__p {
    font-size: 12px;
}

.education__block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.education__span {
    color: rgb(82, 78, 78);
    font-size: 13px;
    font-weight: bold;
}

.large-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(img/quotes-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    min-height: 350px;
    box-shadow:0 0 0 175px rgba(0, 0, 0, 0.6) inset;
    color: rgb(226, 223, 223);
    padding: 0 20%;
    box-sizing: border-box;
}

.large-block__h2 {
    font-size: 24px;
}

.large-block__p {
    font-size: 10px;
    color: rgb(126, 124, 124);
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    min-height: 292px;
    background-color: #e7643c;
    color: rgb(241, 238, 238);
    padding: 30px 30px 50px;
    box-sizing: border-box;
}

.form__h2 {
    margin: 0;
}

.form__p {
    font-size: 11px;
}

.form__form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.form__input, .form__textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #e29a5a;
    color: rgb(241, 238, 238);
    margin-bottom: 20px;
    outline: none;
}

.form__input::placeholder, .form__textarea::placeholder {
    color: rgb(241, 238, 238);
}

.form__submit {
    background-color: rgb(247, 247, 247);
    border: none;
    width: 230px;
    border-radius: 30px;
    padding: 12px 20px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: rgb(126, 124, 124);
}

.form-img {
    display: flex;
    flex-basis: 25%;
    background-image: url(img/contact-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contacts {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    background-color: rgb(32, 32, 32);
    color: rgb(126, 122, 122);
    padding: 20px 35px 0;
    box-sizing: border-box;
}

.contacts__h2 {
    font-size: 20px;
    color: rgb(226, 223, 223);
}

.contacts__p {
    font-size: 11px;
}

.contacts__icon {
    margin-right: 10px;
}

.contacts__phone {
    font-size: 11px;
}

.contacts__a {
    color: #e29a5a;
    font-size: 11px;
    text-decoration: none;
}

.footer {
    display: flex;
    width: 1170px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    min-height: 292px;
    text-align: center;
    background-color: #fff;
    color: rgb(187, 179, 179);
}

.footer__p {
    font-size: 14px;
    font-weight: bold;
}

.footer_a {
    color: #e29a5a;
    text-decoration: none;
}

.footer_soc-a {
    color: rgb(187, 179, 179);
    margin: 0 20px;
}

