body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 1170px;
    height: 100px;
    background-color: #ebd2e4;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    position: absolute;
    margin-top: 25px;
}

.header-image {
    display: flex;
    flex-basis: 50%;
    background-image: url(img/firstPict.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-content {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: 15% 50px 0;
    box-sizing: border-box;
}

.header-conent__button {
    display: flex;
    text-transform: uppercase;
    color: #000;
    width: 140px;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.main {
    display: flex;
    width: 1170px;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: row;
}

.donec {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.main__img1 {
    display: flex;
    flex-basis: 25%;
    background-image: url(img/secondPict.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% center;
    min-height: 292px;
}

.skills {
    display: flex;
    flex-basis: 25%;
    background-color: #e67e22;
    flex-direction: column;
}

.skills__stack {
    display: flex;
}

.stack-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 292px;
    color: #000;
    flex-basis: 25%;
    padding: 0 20px;
}

.stack-block_brown {
    background-color: #e67e22; 
    color: #fff;
}

.stack-block_red {
    background-color: #e74c3c; 
    color: #fff;
}

.stack-block_black {
    background-color: #000; 
    color: #fff;
}

.experiences-img {
    display: flex;
    flex-basis: 50%;
    min-height: 292px;
    background-image: url(img/thirdPict.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.experiences {
    display: flex;
    flex-basis: 50%;
    background-color: #e74c3c;
    color: #fff;
    flex-direction: column;
}

.experiences__block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.education-img {
    display: flex;
    flex-basis: 50%;
    background-image: url(img/fourthPict.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.education {
    display: flex;
    flex-basis: 50%;
    background-color: #e67e22;
    color: #fff;
    flex-direction: column;
}

.education__block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
