body {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    background-color: rgb(69, 73, 69);
}

.header {
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    width: 1000px;
    height: 250px;
    background: transparent;
    position: relative;
    background-color: #e2dfdf;
    overflow: hidden;
}

.header__logo-wrap {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #fff;
    padding: 3px;
}

.header__logo {
    border: 3px solid black;
    padding: 15px 20px;
}

.header__h1 {
    font-size: 26px;
    font-family: 'Dancing Script', sans-serif;
    color: rgb(122, 122, 122);
    letter-spacing: 3px;
    margin: 0;
}

.sprite-layout {
    transform: rotate(-3deg);
    height: 300px;
    width: 1100px;
    margin-left: 10px;
    margin-top: -12px;
}

.sprite {
    margin: 0;
    padding: 0;    
}

.sprite__item {
    display: inline-block;
    list-style-type: none;
    width: 25px;
    margin: 12px 10px 12px;
    height: 25px;
    border-radius: 5px;
    background-image: url(img/sprite.png);
    background-size: 1100%;
}

.facebook {
    background-position: 0 -100px;
}

.dot {
    background-position: 250px -100px;
}

.dribbble {
    background-position: 225px -100px;
}

.google {
    background-position: 200px -100px;
}

.in {
    background-position: 175px -100px;
}

.pictogram {
    background-position: 150px -100px;
}

.rss {
    background-position: 125px -100px;
}

.skype {
    background-position: 100px -100px;
}

.twitter {
    background-position: 75px -100px;
}

.vvii {
    background-position: 50px -100px;
}

.youtube {
    background-position: 25px -100px;
}

.main {
    margin: auto;
    display: flex;
    align-items: center;
    width: 1000px;
    max-width: 1000px;
    padding: 6px;
    padding-bottom: 100px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fff;
}

.block {
    margin-bottom: 6px;
    border: 1px solid rgb(234, 234, 234);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border-radius: 2px;
}

.block_black {
    background-color: rgb(51, 51, 51);
}

.block__row {
    display: flex;
    margin-bottom: 13px;
}

.block__button-wrap {
    display: flex;
    align-items: flex-end;
}

.block__button {
    border-radius: 4px;
    color: #fff;
    border: none;
    font-size: 8px;
    padding: 3px 7px 3px;
    box-shadow: 0px 1px 1px 0 rgb(69, 78, 78);
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

/* Block's color-modificators */
.block__button_pink {
    background: linear-gradient(to top, rgb(229,32,148), rgb(231,82,170));
}

.block__button_green {
    background: linear-gradient(to top, rgb(156,196,35), rgb(170,204,65));
}

.block__button_blue {
    background: linear-gradient(to top, rgb(72,147,232), rgb(91,158,234));
}

.block__button_red {
    background: linear-gradient(to top, rgb(235,61,61), rgb(236,89,89));
}

.block__button_orange {
    background: linear-gradient(to top, rgb(255,110,29), rgb(255,130,60));
}

.block__button_yellow {
    background: linear-gradient(to top, rgb(255,190,45), rgb(255,197,76));
}

/* Block's size-modificators */
.block__button_size_xl {
    font-size: 18px;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.4);
}

.block__button_size_sm {
    font-size: 7px;
}